.news-container {
  background-color: var(--colorClaro);
  padding: 2em 3em;
  color: #000;
  margin-bottom: 2em;
  border-radius: 0.25em;
  border-bottom: solid #000 1px;
}

.news-container h2 {
  color: #000;
}
