#loginForm {
  max-width: 500px;
  margin: 0;
  padding: 0;
}

#loginForm div {
  padding: 0;
  margin: 0;
  margin-bottom: 50px;
}

#loginForm div:last-of-type {
  margin: 0;
}

#loginForm label {
  color: #555;
  font-size: 16px;
}

#loginForm input {
  width: 100%;
  box-sizing: border-box;
  padding: 5px;
  background: none;
  border: none;
  color: #555;
  border-bottom: var(--colorOscuro) solid 1px;
}

#loginForm button {
  width: 100%;
  padding: 10px;
  font-weight: bold;
}

@media only screen and (max-width: 600px) {
  form#loginForm div {
    padding: 0;
  }
  form#loginForm {
    padding: 0 10px;
  }
}
