#shop {
  padding-top: 0;
  padding-bottom: 200px;
  min-height: 800px;
}

#shop h1 {
  margin-bottom: 1em;
}

#cabecera-shop {
  display: flex;
  justify-content: center;
  padding-top: 15em;
  padding-bottom: 5em;
  width: 100%;
  background: url(../../assets/images/contact-bg.jpg) bottom center no-repeat;
  background-color: rgb(25 25 25 / 80%);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-blend-mode: soft-light;
}

.shop-splitscreen {
  margin: 0 10em;
}

@media only screen and (max-width: 600px) {
  .shop-splitscreen > div > div {
    flex: none;
    width: 100%;
  }
  .shop-splitscreen > div {
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .filters-container {
    position: relative;
  }
}
