#searchBar {
  display: grid;
  grid-template-columns: 4fr 1fr;
  margin: 1em 0;
  border: 1 px solid;
}

#searchBar button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  color: #000;
  font-weight: bold;
  position: relative;
  z-index: 5;
}

#searchBar input {
  background: none;
  border: none;
  box-shadow: none;
  border-bottom: #000 solid 1px;
  border-radius: 0;
}

#searchBar button {
  background: none;
  border-bottom: #000 solid 1px;
}
