#sidebar {
  width: 100%;
}

#sidebar a {
  color: var(--colorClaro);
  font-weight: 500;
  font-size: 1.5rem;
}

#sidebar a:hover,
#sidebar a:focus {
  background-color: var(--colorButtonActive);
}

#sidebar ul {
  display: flex;
  flex-direction: column;
  width: inherit;
}
